<template name="addJournalEntry">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="showJournalEntry"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Add New Journal Entry</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-left">
            {{> ionIcon icon="ion ion-paper-airplane"}}
        </button>
    {{/contentFor}}
    {{#ionView}}
        {{#ionContent}}
            {{#autoForm collection="Collection.JournalEntry" id="addJournalEntry" type="insert"}}
                <div class="content has-header overflow-scroll">
                    {{> afQuickField name='date'}}
                    {{> afQuickField name='typeOfJournal'}}
                    {{> afArrayField name="journalEntryItem"}}
                    <button class="button button-block button-positive">
                        Add
                    </button>
                </div>
            {{/autoForm}}
        {{/ionContent}}
    {{/ionView}}
</template>


