<template name="editJournalEntry">
    {{#if currentUser}}
        {{#contentFor "headerButtonLeft"}}
            {{>ionNavBackButton path="journalEntryDetail"}}
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">Journal Entry Detail</h1>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                <div class="card animated bounceInRight">
                    {{#autoForm collection="Collection.JournalEntry" doc=journalEntryDetail id="editJournalEntry" type="update"}}
                        {{#if journalEntryDetail}}
                            {{typeOfJournal}}
                            <div class="col-50">
                                {{> afQuickField name='date'}}
                            </div>
                            {{> afQuickField name='typeOfJournal'}}
                            {{> afQuickField name='journalEntryItem'}}
                        {{/if}}
                        <button class="button button-block button-positive js-updateJournal">
                            {{> ionIcon class="ion ion-checkmark-circled"}}
                            Update
                        </button>
                    {{/autoForm}}

                </div>
            {{/ionContent}}
        {{/ionView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>
