<template name="journalEntryDetail">
    {{#if currentUser}}
        {{#if isInRole 'setting'}}
            {{#contentFor "headerButtonLeft"}}
                {{>ionNavBackButton path="showJournalEntry"}}
            {{/contentFor}}

            {{#contentFor "headerTitle"}}
                <h1 class="title">Journal Entry Detail</h1>
            {{/contentFor}}

            {{#ionView}}
                {{#ionContent}}
                    {{#ionList}}
                        {{#if journalEntryDetail}}
                            {{#each journalEntryDetail.content}}
                            <!--{{#if subTotalIsNotZero subTotal}}-->
                                {{#ionItem path="journalEntryDetail" iconRight=true}}
                                    <div class="row">
                                        <div class="col">
                                            Date : {{moFormat date 'DD/MM/YYYY'}}
                                        </div>
                                        <div class="col">
                                            Journal : {{journalType}}
                                        </div>
                                    </div>
                                    <hr style="border-top: 1px dashed #8c8b8b;border-bottom: none;">
                                    <div class="row">
                                        <div class="col">Item name</div>
                                        <div class="col">Price</div>
                                    </div>
                                    {{#each journalItem}}
                                        <div class="row">
                                            <div class="col">
                                                {{journalItemName}}
                                            </div>
                                            <div class="col">
                                                {{numFormat journalTotalByItem '0,0.00 $'}}
                                            </div>
                                        </div>
                                    {{/each}}
                                    <hr style="border-top: 1px dashed #8c8b8b;border-bottom: none;">
                                    <div class="row">
                                        <div class="col">Total</div>
                                        <div class="col">
                                            {{numFormat journalTotal '0,0.00 $'}}
                                        </div>
                                    </div>
                                {{/ionItem}}<br>
                                    <!--{{/if}}-->
                            {{/each}}
                        {{/if}}
                    {{/ionList}}
                {{/ionContent}}
            {{/ionView}}
        {{else}}
            {{> checkRoleUser}}
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>
