<template name="sideMenu">
    {{#if currentUser}}
        {{#ionSideMenus}}
            {{#ionSideMenu}}
                <div class="bar bar-header bar-dark">
                    <img src="img-side-left.jpg" alt="" class="full-image">
                </div>

                <div class="content has-header">
                    <div class="list">
                        {{#if isInRole 'cashier'}}
                            <a href="/" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-home"}}
                                Home {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/showItem" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-ios-pricetags"}}
                                Service Item {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/showOrder" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-bag"}}
                                Service {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/showCustomer" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-ios-people"}}
                                Customer {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                        {{/if}}
                        {{#if isInRole 'setting'}}
                            <a href="/showJournalItem" class="item item-icon-left item-icon-right"
                               data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-ios-pricetags"}}
                                Journal Item {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/showJournalEntry" class="item item-icon-left item-icon-right"
                               data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-cash"}}
                                Journal Entry {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/reports" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-clipboard"}}
                                Report {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                            <a href="/setting" class="item item-icon-left item-icon-right" data-ion-menu-close
                               style="top:55px;">
                                {{> ionIcon icon="ion ion-android-settings"}}
                                Setting {{> ionIcon icon="ios-arrow-right"}}
                            </a>
                        {{/if}}
                        <a href="/login" class="item item-icon-left item-icon-right js-logout"
                           data-ion-menu-close
                           style="top:55px;">
                            {{> ionIcon icon="ion ion-log-out"}}
                            Logout {{> ionIcon icon="ios-arrow-right"}}
                        </a>
                    </div>
                </div>
            {{/ionSideMenu}}
        {{/ionSideMenus}}
    {{else}}
        {{> login}}
    {{/if}}
</template>