<template name="sideMenu">
    {{#ionSideMenus}}
        {{#ionSideMenu}}
            <div class="bar bar-header bar-dark">
                <img src="img-side-left.jpg" alt="" class="full-image">
            </div>
            <div class="content has-header">
                <div class="list">
                    <a href="/showStaff" class="item item-icon-left item-icon-right" data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-android-people"}}
                        Staff {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/showItem" class="item item-icon-left item-icon-right" data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-ios-pricetags"}}
                        Item {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/showExpenseItem" class="item item-icon-left item-icon-right"
                       data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-ios-pricetags"}}
                        Expense Item {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/showCustomer" class="item item-icon-left item-icon-right" data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-ios-people"}}
                        Customer {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/showDayExpense" class="item item-icon-left item-icon-right"
                       data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-cash"}}
                        Day Expense {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/showOrder" class="item item-icon-left item-icon-right" data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-ios-cart"}}
                        Order {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <a href="/reports" class="item item-icon-left item-icon-right" data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-clipboard"}}
                        Report {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                    <!--<a href="/login" class="item item-icon-left item-icon-right" data-ion-menu-close-->
                    <!--style="top:55px;">-->
                    <!--{{> ionIcon icon="ion ion-locked"}}-->
                    <!--Login {{> ionIcon icon="ios-arrow-right"}}-->
                    <!--</a>-->
                    <a href="/login" class="item item-icon-left item-icon-right js-logout"
                       data-ion-menu-close
                       style="top:55px;">
                        {{> ionIcon icon="ion ion-log-out"}}
                        Logout {{> ionIcon icon="ios-arrow-right"}}
                    </a>
                </div>
            </div>
        {{/ionSideMenu}}
    {{/ionSideMenus}}
</template>