<template name="payment">
    {{#if currentUser}}
        {{#contentFor "headerButtonLeft"}}
            {{>ionNavBackButton path="itemOrder"}}
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">Payment</h1>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                <div class="card animated bounceInDown">
                    {{#autoForm collection="Collection.Payment"  doc=order id="payment" type="insert"}}
                        {{> afQuickField name='orderId' type="hidden"}}
                        <div class="row">
                            <div class="col">
                                {{> afQuickField name='paymentDate'}}
                            </div>
                            <div class="col"></div>
                        </div>
                        {{> afQuickField name='dueAmount' readonly=true class="js-dueAmount" style="background-color: #D8D8D7"}}
                        {{> afQuickField name='paidAmount' class="js-paidAmount"}}
                        {{> afQuickField name='balance' class="js-balance"}}
                        <div class="row">
                            <div class="col">
                                <button class="button button-round button-block button-positive js-payment">
                                    {{> ionIcon class="ion ion-cash"}}
                                    Payment
                                </button>
                            </div>
                        </div>
                    {{/autoForm}}
                </div>
                <div class="row">
                    <div class="col">
                        <!--<div class="col">-->
                            <!--<button class="button button-small button-balanced js-generate">-->
                                <!--{{> ionIcon class="ion ion-refresh"}}-->
                                <!--Generate-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<button class="button button-round button-block button-balanced js-paymentPrint">-->
                        <!--{{> ionIcon class="ion ion-printer"}}-->
                        <!--Payment & Print-->
                        <!--</button>-->
                    </div>
                </div>
            {{/ionContent}}
        {{/ionView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

