<template name="editOrder">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Collection.OrderDetail" doc=itemOrder id="editOrder" type="update"}}
            <div class="bar bar-header bar-stable" style="background-color: #387ef5;">
                <button data-dismiss="modal" type="button" class="button button-clear" style="color: white;">Cancel</button>
                <h2 class="title" style="color: white;">Edit Order</h2>
                <button class="button button-clear pull-left js-editOrder" style="color:white;">
                    {{> ionIcon icon="ion ion-checkmark-circled"}}
                </button>
            </div>
            <div class="content has-header overflow-scroll">
                {{> afQuickField name='quantity' class='js-quantity'}}
                {{> afQuickField name='price' lable='Price' class='js-price' readonly=true style="background-color: #EAEAE9;"}}
                {{> afQuickField name='discount' label='Discount (%)'  class='js-discount'}}
                {{> afQuickField name='amount' label='Amount ($)' readonly=true class='js-amount' style="background-color: #EAEAE9;"}}
            </div>
        {{/autoForm}}
    {{/ionModal}}

</template>
