<template name="itemOrder">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="showOrder"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Item List</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-left" data-ion-modal="searchItem">
            {{> ionIcon icon="ion ion-ios-search-strong"}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#each showOrderDetail}}
                <div class="card">
                    <div class="item animated bounceInDown item-text-wrap">
                        <div class="row">
                            <div class="col-50">
                                {{itemId}} | {{itemName}}
                            </div>
                            <div class="col-50">
                                <div style="float: right">
                                    <button class="button button-small button-balanced">
                                        {{> ionIcon class="ion ion-plus-round"}}
                                    </button>
                                    <button class="button button-small button-assertive">
                                        {{> ionIcon class="ion ion-minus-round"}}
                                    </button>
                                    <button class="button button-small button-assertive">
                                        {{> ionIcon class="ion ion-trash-a"}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25" style="color: #0c60ee;">
                                {{numFormat price '0,0.00 $'}}
                            </div>
                            <div class="col-25">
                                x{{quantity}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}


            <div class="card">
                <div class="item item-text-wrap button-balanced">
                    <div class="row">
                        <div class="col-75">
                            <b>Total :</b>
                        </div>
                        <div class="col-25">
                            <div style="float: right;">
                                <!--{{#each totalOrderDetail}}-->
                                    <b>{{numFormat totalOrderDetail '0,0.00 $'}}</b>
                                <!--{{/each}}-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="button button-block button-positive">
                Submit
            </button>
        {{/ionContent}}
    {{/ionView}}
</template>

