<template name="searchItem">
    {{#ionModal customTemplate=true}}
        <div class="bar bar-header bar-stable" style="background-color: #387ef5;">
            <h2 class="title" style="color: white;">Search Service Item</h2>
            <button data-dismiss="modal" type="button" class="button button-clear pull-left close-modal"
                    style="color: white;">
                {{> ionIcon icon="ion ion-close-circled"}}
            </button>
        </div>

        <div class="content has-header overflow-scroll">
            <div class="list">
                <!--search query item-->
                <div class="list list-inset js-query-item">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search Item" value="{{searchQueryItem}}"
                               class="js-search-item">
                    </label>
                </div>
                {{#if searchQueryItem}}
                    <ul>
                        {{#each items}}
                            {{> _productItem}}
                        {{/each}}
                    </ul>
                    <button class="button button-block button-positive js-load-more">
                        {{> ionIcon class="ion ion-refresh"}}
                        Load More
                    </button>
                {{/if}}
            </div>
        </div>
    {{/ionModal}}
</template>

<template name="_productItem">
    <div class="card insert-order" style="cursor: pointer;">
        <div class="item item-text-wrap item-bg">
            <h2>{{name}}</h2>
            <p>{{numFormat price '0,0.00 $'}}</p>
        </div>
    </div>
</template>
