<template name="showOrder">
    {{#if currentUser}}
        <div class="bar bar-header bar-positive nav-bar-block nav-bar-transition-ios nav-bar-direction-forward"
             data-navbar-container>
            <button class="button button-clear pull-left button-entering button-active" data-ion-menu-toggle="left">
                <i class="icon ion-navicon"></i>
            </button>
            <h1 class="title">Order List</h1>
            <button class="button button-clear add-order button-icon icon ion-plus-circled">
            </button>
        </div>

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#if showCustomerOrder}}
                        {{#each showCustomerOrder.content}}
                            <div class="show-order-item">
                                {{#ionItem iconRight=true}}
                                    {{_id}} |
                                    {{#each customer}}
                                        Customer : {{customer}} | Staff : {{staff}}
                                    {{/each}}<br>
                                    {{#each items}}
                                        {{itemName}} : {{numFormat amount '0,0.00$'}}  |
                                    {{/each}}<br>
                                    <u>Total</u> : {{numFormat total '0,0.00 $'}}
                                    {{> ionIcon icon="ios-arrow-right"}}
                                {{/ionItem}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h2>No data</h2>
                    {{/if}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>




