<template name="showOrder">
    <div class="bar bar-header bar-positive">
        <a href="/" class="button button-icon icon ion-ios-arrow-back"> Back</a>
        <h1 class="title">Order List</h1>
        <button class="button button-clear add-order button-icon icon ion-plus-circled">
        </button>
    </div>

        <!--{{#contentFor "headerButtonLeft"}}-->
    <!--{{>ionNavBackButton path="index"}}-->
        <!--{{/contentFor}}-->

        <!--{{#contentFor "headerTitle"}}-->
    <!--<h1 class="title">Order List</h1>-->
        <!--{{/contentFor}}-->

        <!--{{#contentFor "headerButtonRight"}}-->
    <!--<button class="button button-clear pull-left add-order">-->
    <!--{{> ionIcon icon="ion ion-plus-circled"}}-->
    <!--</button>-->
        <!--{{/contentFor}}-->

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#each showCustomerOrder.content}}
                    <div class="show-order-item">
                        {{#ionItem iconRight=true}}
                            <h2>{{customerId}} | {{customerName}}</h2>
                            {{> ionIcon icon="ios-arrow-right"}}
                        {{/ionItem}}
                    </div>
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>




