<template name="journalItemInfo">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="showJournalItem"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Expense Item Info</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-left" data-ion-modal="editJournalItem" data-id="{{journalItemInfo._id}}">
            {{> ionIcon icon="ion ion-edit"}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
        <!--{{#with itemInfo}}-->
            <!--<div class="row">-->
            <!--&lt;!&ndash;<div class="col col-10"></div>&ndash;&gt;-->
            <!--<div class="col col-33 col-offset-10"><h4>Name</h4></div>-->
            <!--<div class="col"><h4>:</h4></div>-->
            <!--<div class="col col-80"><h4>{{name}}</h4></div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col col-33 col-offset-10"><h4>Gender</h4></div>-->
            <!--<div class="col"><h4>:</h4></div>-->
            <!--<div class="col col-80"><h4>{{numFormat price '0,0.00 $'}}</h4></div>-->
            <!--</div>-->
                <!--{{/with}}-->
            {{#ionList}}
                {{#with journalItemInfo}}
                    {{#ionItem}}
                        <div class="row">
                            <div class="col col-33 col-offset-10"><h2>Type of Journal</h2></div>
                            <div class="col"><h2>:</h2></div>
                            <div class="col col-80">
                                <h2>{{typeOfJournal}}</h2>
                            </div>
                        </div>
                    {{/ionItem}}
                    {{#ionItem}}
                        <div class="row">
                            <div class="col col-33 col-offset-10"><h2>Journal Item Name</h2></div>
                            <div class="col"><h2>:</h2></div>
                            <div class="col col-80">
                                <h2>{{journalItemName}}</h2>
                            </div>
                        </div>
                    {{/ionItem}}
                {{/with}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
