<template name="setRole">
    {{#if currentUser}}
        {{#if isInRole 'setting'}}
            {{#contentFor "headerButtonLeft"}}
                {{>ionNavBackButton path="setting"}}
            {{/contentFor}}

            {{#contentFor "headerTitle"}}
                <h1 class="title">Set Role To user</h1>
            {{/contentFor}}
            {{#ionView}}
                {{#ionContent}}
                    {{#ionList}}
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col">Username</div>
                                    <div class="col">Permission</div>
                                    <div class="col">Role</div>
                                    <div class="col"></div>
                                </div>
                            </div>

                            {{#each showUser}}
                                <div class="item item-text-wrap">
                                    <div class="row">
                                        <div class="col">
                                            {{username}}
                                        </div>
                                        {{#if profile.approved}}
                                            <div class="col" style="margin-top: -20px;">
                                                {{#if checkUsername username}}
                                                    <button class="button button-clear approved-toggle" disabled>
                                                        {{> ionIcon class="cursor-p ion-checkmark-circled positive"}}
                                                    </button>
                                                {{else}}
                                                    <button class="button button-clear approved-toggle">
                                                        {{> ionIcon class="cursor-p ion-checkmark-circled positive"}}
                                                    </button>
                                                {{/if}}
                                            </div>
                                            <div class="col">
                                                {{roles}}
                                            </div>
                                        {{else}}
                                            <div class="col" style="margin-top: -20px;">
                                                <button class="button button-clear approved-toggle">
                                                    {{> ionIcon class="cursor-p ion-minus-circled assertive"}}
                                                </button>
                                            </div>
                                            <div class="col">
                                                {{roles}}
                                            </div>
                                        {{/if}}

                                        <div class="col">
                                            {{#if checkUsername username}}
                                                <button class="button button-small button-clear button-icon icon ion-edit set-role"
                                                        data-ion-modal="_selectRole"
                                                        data-id="{{_id}}" style="color: #387ef5" disabled>
                                                </button>
                                            {{else}}
                                                <button class="button button-small button-clear button-icon icon ion-edit set-role"
                                                        data-ion-modal="_selectRole"
                                                        data-id="{{_id}}" style="color: #387ef5">
                                                </button>
                                                <button class="button button-small button-clear button-icon icon ion-ios-trash delete-user" style="color: #F52F2F">
                                                </button>
                                            {{/if}}
                                        </div>

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/ionList}}
                {{/ionContent}}
            {{/ionView}}
        {{else}}
            {{> checkRoleUser}}
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>