<template name="showDayExpense">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Day Expense List</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-left" data-ion-modal="addDayExpense">
            {{> ionIcon icon="ion ion-plus-circled"}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#each data.content}}
                    {{#ionItem path="dayExpenseInfo" iconRight=true}}
                        <h2>{{date}}</h2>
                        <h2>{{numFormat totalAmount '0,0.00 $'}}</h2>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
<template name="listDayExpense">

</template>